@media only screen and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  header > h1 {
    font-size: 8vh;
    text-align: center;
    }
  .col-2 > div > p{
    font-size: 1rem;
    font-weight: bolder;
    }
  div.win-content>p {
    font-size: 6.5vh;
    }
  div.game-reset>p {
    font-size: 1.5em;
    }
    .col-2>div>p{
    font-size: 3.0vh;
    font-weight: bolder;
    }
  }
