@media only screen and (max-width: 812px) and (max-height: 375px) and (orientation: landscape) {
  header > h1 {
    font-size: 10vh;
    text-align: center;
  }
  aside {
    width: 75vw;
    height: 75vh;
  }
  p {
    font-size: 5vh;
    font-weight: bolder;
    }
  div.card {
    height: 25vh;
    width: 7vw;
    }
  div.win-content>p {
    font-size: 7.5vh;
    }
  div.game-reset>p {
    font-size: 1em;
    }
  }
