@font-face {
  font-family: ostrich-sans-bold;
  src: url(../fonts/ostrich-sans-bold.woff);
  font-weight: bold;
}
@font-face {
  font-family: ostrich-sans-regular;
  src: url(../fonts/ostrich-sans-regular.woff);
  font-weight: regular;
}
@font-face {
  font-family: ostrich-sans-black;
  src: url(../fonts/ostrich-sans-black.woff);
  font-weight: black;
}
.container {
  height: 100%;
}
body {
  display: flex;
  flex-basis: 100%;
  height: 97vh;
  background: url("../images/LasVegas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
h1 {
  display: flex;
  justify-content: center;
  font-family: ostrich-sans-bold;
  font-size: 4.5rem;
  text-align: center;
  color: white;
  text-shadow: 2.5px 2.5px 4.5px white;
}

p {
  font-family: ostrich-sans-black;
  font-size: 2.5rem;
  color: black;
  text-shadow: 4.5px 4.5px 8.5px white;
}
aside {
  display: flex;
  flex-direction: column;
  height: 85%;
}
aside > div{
  background-color: #49F2FF ;
  width: 90%;
  height: 14%;
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
div.card {
  display: flex;
  margin: 5px;
  height: 31%;
  position: relative;
  top: 25px;
}
div.card-back:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85,
  12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B,
  -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); box-shadow: 5px 5px 15px 5px #FF8080,
  -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF,
  12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF,
  5px 5px 15px 5px rgba(0,0,0,0);
  cursor: pointer;
}
.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
.card-back {
  background-image: url(../images/Card-Back-2.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
.landing {
  background-image: url(../images/landing.jpg);
}
.limo {
  background-image: url(../images/limo.jpg);
}
.palazzo {
  background-image: url(../images/palazzo.jpg);
}
.paris {
  background-image: url(../images/paris.jpg);
}
.private_jet {
  background-image: url(../images/private_jet.jpg);
}
.sports_book {
  background-image: url(../images/sports_book.jpg);
}
.windows {
  background-image: url(../images/windows.jpg);
}
.wynn_casino {
  background-image: url(../images/wynn_casino.jpg);
}
.wynn_night {
  background-image: url(../images/wynn_night.jpg);
}
.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  z-index: 1;
}
.win-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: maroon;
  border: solid 10px red;
  border-radius: 4px;
  width: 60%;
  height: 40%;
}
.game-reset:hover{
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85,
  12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B,
  -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 5px 5px 15px 5px #FF8080,
  -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF,
  12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF,
  5px 5px 15px 5px rgba(0,0,0,0);
  cursor: pointer;
}
.win-content > p {
  color: lightsalmon;
  font-family: ostrich-sans-bold;
  font-size: 4rem;
  font-weight: bolder;
  margin: 0;
}
.game-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: solid 10px red;
  border-radius: 2px;
  width: 25%;
  height: 20%;
  margin-top: 5px;
}
.game-reset > p {
  color: darkviolet;
  font-family: ostrich-sans-black;
  font-size: 2.5rem;
  font-weight: bolder;
  margin: 0;
}
.hidden {
  display: none;
}
/* Feature Set 6 Reset / Play Again */
